<div class="container col-8">
<h1 class="container col-4">Person Registry</h1>

<form (ngSubmit)="onSubmit()" #criarPessoaForm="ngForm">
    <div class="form-group col-4 container">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name"
        required
        [(ngModel)]="model.name" name="name"
        #name="ngModel">
    </div>
        
    <div class="form-group col-4 container">
        <label for="sex">Sex</label>
        <input type="text" class="form-control" id="sex"
        [(ngModel)]="model.sex" name="sex"
        #name="ngModel">
    </div>
        
    <div class="form-group col-4 container">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email"
        [(ngModel)]="model.email" name="email"
        #name="ngModel">
    </div>

    <div class="form-group col-4 container">
        <label for="birthDate">Birth Date</label>
        <input type="date" class="form-control" id="birthDate"
        required
        [(ngModel)]="model.birthDate" name="birthDate"
        #name="ngModel">
    </div>

    <div class="form-group col-4 container">
        <label for="naturality">Naturality</label>
        <input type="text" class="form-control" id="naturality"
        [(ngModel)]="model.naturality" name="naturality"
        #name="ngModel">
    </div>

    <div class="form-group col-4 container">
        <label for="nationality">Nationality</label>
        <input type="text" class="form-control" id="nationality"
        [(ngModel)]="model.nationality" name="nationality"
        #name="ngModel">
    </div>

    <div class="form-group col-4 container">
        <label for="cpf">CPF</label>
        <input type="text" class="form-control" id="cpf"
        required
        [(ngModel)]="model.cpf" name="cpf"
        #name="ngModel">
    </div>

    <div class="form-group col-4 container">
        <button type="submit" class="btn btn-success" [disabled]="!criarPessoaForm.form.valid">Submit</button>
        <button type="button" class="btn btn-default" (click)="newPessoa(); criarPessoaForm.reset()">Reset</button>
    </div>
</form>

</div>


