<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="col-3">      
            <h2 style="float: left;">Employee List</h2>
            <button (click)="criarPessoa()" class="btn btn-success" style="float: right; margin-top: 5px;">+ Novo</button>
        </div>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Sexo</th>
            <th>Email</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pessoa of pessoas">
            <td>{{pessoa.name}}</td>
            <td>{{pessoa.sex}}</td>
            <td>{{pessoa.email}}</td>
            <td><button (click)="deletarPessoa(pessoa.id)" class="btn btn-danger">Deletar</button>
                <button (click)="updateEmployee(pessoa.id)" class="btn btn-info" style="margin-left: 10px">Atualizar</button>
                <button (click)="employeeDetails(pessoa.id)" class="btn btn-info" style="margin-left: 10px">Detalhes</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>